.content{
    color: rgb(33,81,77);
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 4rem 0;
}
.logo{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    align-items: center;
}
.footer_info{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.second_section{
    width: 50%;
}
.footer_title{
    color: lightgray;
    font-weight: 300;
}
.footer_links{
    display: flex;
    justify-content: space-between;
    color: rgb(23,168,178);
}
.footer_end{
    height: 80px;
    text-align: center;
}
.footer_end  p {
    color: rgb(23,168,178);
}
.icon_logo {
    width: 50px;
    height: 50px;
}
.footer_links_icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}