.header{
    color: darkseagreen;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}
.title{
    color: lightgray;
    font-weight: 200;
}
.button{
    display: flex;
    gap: 1rem;
}
.button button{
    padding: 1rem;
    background: rgb(23,168,178) ;
    border-radius: 1rem;
    color: white;
    border: none;
}
.links{
margin: 2rem;
}
.links_title{
    color: rgb(33,81,77);
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 3rem;
    justify-content: center;
    font-weight: 700;
}
.links_title li{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.links_title a{
    display: flex;
    justify-content: space-around;
    align-items: center;
}